/* Styles for the website */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #c850d3;
}

section {
    padding: 50px 0;
    text-align: center;
}

footer {
    background-color: #616eb9;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
